@page "/bookDoctor"
@model PRN221_Project_MedAppoint.Areas.User.Pages.Customer.BookDoctorModel
@{
}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Template">
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cake | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/style.css" type="text/css">
</head>


<section class="bookDoctor">
    <div class="container">
        <div class="shop__option">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="shop__option__search">
                        <form action="#">
                            <select>
                                <option value="">Cơm rang</option>
                                <option value="">Đồ uống</option>
                                <option value="">Đồ ăn vặt</option>
                                <option value="">Đồ nước</option>
                            </select>
                            <input type="text" placeholder="Search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="shop__option__right">
                        <select>
                            <option value="">Default sorting</option>
                            <option value="">A to Z</option>
                            <option value="">1 - 8</option>
                            <option value="">Name</option>
                        </select>
                        <a href="#"><i class="fa fa-list"></i></a>
                        <a href="#"><i class="fa fa-reorder"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Users) {
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="user/img/logo.jpg">
                            <div class="product__label">
                                <span>Doctor</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">@item.Username</a></h6>
                            <div class="product__item__price">$32.00</div>
                            <div class="cart_add">
                                <a href="#">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @* comment *@
        </div>
        <div class="shop__last__option">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><span class="arrow_carrot-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__last__text">
                        <p>Showing 1-9 of 10 results</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<!-- Js Plugins -->
<script src="~/user/js/jquery-3.3.1.min.js"></script>
<script src="~/user/js/bootstrap.min.js"></script>
<script src="~/user/js/jquery.nice-select.min.js"></script>
<script src="~/user/js/jquery.barfiller.js"></script>
<script src="~/user/js/jquery.magnific-popup.min.js"></script>
<script src="~/user/js/jquery.slicknav.js"></script>
<script src="~/user/js/owl.carousel.min.js"></script>
<script src="~/user/js/jquery.nicescroll.min.js"></script>
<script src="~/user/js/main.js"></script>