@page 
@model PRN221_Project_MedAppoint.Areas.User.Pages.Customer.PaymentCallBackModel


@* <div class="text-center">
    <div class="container">
        <h1 class="text-success">Thanh Toán Thành Công</h1>
        <p>Order ID: <strong>@Model.response.PaymentID</strong></p>
        <p>Amount: <strong>@Model.response.Amount</strong></p>
        <p>Order Info: <strong>Appointment: @Model.response.AppointmentId @Model.response.Message</strong></p>
    </div>

    <a asp-area="User" asp-page="/Customer/Home">Back to Home</a>
</div> *@
    